@charset "utf-8";
/* CSS Document */
*{
	margin:0px;
	padding:0px;
 }
 body{
	 font-family:Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", serif;
	 font-size:16px;
	
     }
 #header{
	 width:100%;
	 height:300px;
	 background-image:url(paper-1468878_1920.jpg);	 
        }
 #logo{
	 height:228px;
	 width:900px;
	 margin-left:auto;
	 margin-right:auto;
       }

 #logo h1{
	 color:#666;
	 letter-spacing:8px;
     font-family: 'Playball', cursive;
	 font-size:50px;
	 padding-top:100px;
         }
  #logo h3{
	 color:#666;
	 letter-spacing:8px;
     font-family: 'Playball', cursive;
	 font-size:30px;
         }
 .logo_rengi{
	 color:#066; 
			}
			
			
			
					
		/* Add a black background color to the top navigation */
.topnav {
  
  overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  display: block;
  color:#666;
  text-align: center;
  padding: 20px 16px;
  text-decoration: none;
  font-size: 25px;
  font-family: 'Playball', cursive;
}

/* Hide the link that should open and close the topnav on small screens */
.topnav .icon {
  display: none;
}

/* Dropdown container - needed to position the dropdown content */
.dropdown {
  float: left;
  overflow: hidden;
}

/* Style the dropdown button to fit inside the topnav */
.dropdown .dropbtn {
  font-size: 25px;
  border: none;
  outline: none;
  color:#666;
  padding: 20px 16px;
  background-color: inherit;
  font-family: 'Playball', cursive;
  margin: 0;
}

/* Style the dropdown content (hidden by default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Style the links inside the dropdown */
.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

/* Add a dark background on topnav links and the dropdown button on hover */
.topnav a:hover, .dropdown:hover .dropbtn {
  background-color: #555;
  color: white;
}

/* Add a grey background to dropdown links on hover */
.dropdown-content a:hover {
  background-color: #ddd;
  color: black;
}

/* Show the dropdown menu when the user moves the mouse over the dropdown button */
.dropdown:hover .dropdown-content {
  display: block;
}

 #content{
	 width:100%;
	 height:auto;
	 margin-left:auto;
	 margin-right:auto;
	 padding:4%;
          }
 #haberler {
	 width:20%;
	 height:900px;
	 float:left;
	 margin-top:20px;
	 margin-bottom:20px;
	 padding-top:20px;
	 padding-right:2%;
	 padding-left:2%;
	 background-color:#033;
	 color:#CCC;
	 border-radius:20px;
            }
 #kutu1{
	 width:auto;
	 height:200px;
	 
		}
		
 #resim{
	 width:auto;
	 height:100px;
		}
 #resim img{
	 width:auto; 
	 height:100px;
	 }
 #yazi{
	 width:auto;
	 height:auto;
	   }
 #yazi a{
	 text-decoration:none;
	 color:#CCC;}

 #icerik{
	 width:60%;
	 height:725px;
	 float:left;
	 margin-top:80px;
	 padding:20px;
      }
 #duyurular{
	 width:20%;
	 height:900px;
	 float:left;
	 margin-top:20px;
	 margin-bottom:20px;
	 padding-top:20px;
	 padding-right:2%;
	 padding-left:2%;
	 background-color:#033;
	 color:#CCC;
	 border-radius:20px;
      }
 .sag{
	 width:100%
	 position:relative;
	 margin-left:auto;
	 margin-right:auto;
	 padding-top:100px;
 }
 .text{
	 font-family:Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
	 font-size:24px;
	 width:80%;
	 margin-left:auto;
	 margin-right:auto;
	 background-color:#CCC;
	 color:#000;
	 border-bottom-right-radius:50px;
	 border-top-left-radius:50px;
 }
 .text p {
	 width:auto;
	 margin:20px;
	 padding-left:20px;
	 }
 .text h5 {
	 width:auto;
	 margin:20px;
	 padding-left:20px;
	 }
 
 .orta{
	 font-family:Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
	 font-size:24px;
	 width:70%;
	 margin-left:auto;
	 margin-right:auto;
	 padding-top:50px;
	  }
 .orta p{
	 width:auto;
	 margin:20px;
	 padding-left:20px;
	 }
 #image{
	 width:100px;
	 height:auto;
	 border-radius:30px;
	 padding-top:50px;
 }
 .text h{
	 margin:20px;
	 padding-left:30px;
 }
 .mySlides {display:none;}
           
 #footer{
	 clear:both;
	 background-color:#000;
	 width:100%;
	 height:270px;
	 color:#FFF;
	 margin-left: auto;
	 margin-right: auto;
 }
 #footer_container{
	 width:900px;
	 height:200px;
	 margin:30px auto;
 }
 #footer ul {
	 list-style-type:none;
	 margin:17px 0;
	 padding:0px;
	 }
 #kutu {
	  width:auto;
	  height:125px; 
	  float:left;
	  padding:70px;
	  }

#footer ul li {
	 float:left;
	 font-family:tahoma;
	 font-size:12px;
	 margin-bottom:8px;
	 clear:left;
	 color:#949798;
		  }
 #footer ul li a {
	 text-decoration:none;
	 color:#999;
                }
  #form-iletisim{
	 width:80%;
	 height:700px;
	 margin-left:auto;
	 margin-right:auto;
	 margin-top:35px;
	 background-color:#999;
	 text-align:center;
	 border-radius:30px;
                }
 #form-iletisim h2{
	 margin:20px;
                }
  #form-iletisim button{
	  border: 1px solid black;
	  border-radius:25px;
	  background-color:#066;
	  width:150px;
	  height:40px;	 
	                 }
 .text-input{
    width:60%;
	display: block;
    padding:10px;
    line-height:1;
    margin-bottom: 20px;
    margin-left:20%;
    font-size: 15px;
    color: black;
    background: white;
    border: 1.5px solid black;
	border-bottom-right-radius:25px;
	border-top-right-radius:25px;
	
}
 #video{
	 width:50%;
	 height:auto;
	 padding-top:20px;
 }
 #pdf{
	 width:50%;
	 height:auto;
	 margin-left:auto;
	 margin-right:auto;
	 padding-top:80px;
 }
 #pdf img{
	 border-radius:15px;
 }
 
@media (max-width:768px)
{	
 #header{
	 width:100%;
	 height:300px;
	 }
 #logo{
	 height:200px;
	 width:500px;
	 margin-left:auto;
	 margin-right:auto;
       }
 #logo h1{
	 letter-spacing:10px;
	 font-size:40px;
	 padding-top:100px;
         }
   #logo h3{
	 letter-spacing:10px;
	 font-size:25px;
         }
 
 
 
 
 #content{
	 width:100%;
	 padding-top:35px;
	  }
  #haberler {
	 width:20%;
	 height:auto;
	 float:left;
            }
 #haberler h3{
	 
 }
  #kutu1{
	 width:100%;
	 height:auto;
	 padding-top:60px;
		}
	#kutu2{
	 width:100%;
	 height:auto;
	 padding-top:50px;
	    
		}
	#kutu3{
	 width:100%;
	 height:auto;
	 padding-top:50px;
	    
		}
 #resim img{
	 width:auto; 
	 height:auto;
	  padding-top:25px;
		}
 #yazi{
	 width:auto;
	 height:auto;
	
	 
	   }
 #icerik{
	 width:60%;	 
	 }
 #duyurular {
	width:20%;
	height:auto;
	float:right;
	}	
  #kutu {
	  width:150px;
	  height:125px; 
	  float:left;
	  padding:40px;
	  } 
}
@media only screen and (max-width:620px) {
  /*  telefon  */
#header{
	background-image:url(paper-1468878_1920.jpg);
        }
 #logo{
	 height:200px;
	 width:450px;
	 margin-left:auto;
	 margin-right:auto;
       }
 #logo h1{
	 letter-spacing:10px;
	 font-size:40px;
	 padding-top:40px;
         }         
#haberler,#icerik,#duyurular {
	clear:both;
	width:100%;
	}
  #kutu1{
	 width:100%;
	 
	}
 #resim img{
	 width:auto; 
	 height:100px;
	  padding-left:30px;
	  padding-right:30px;
		}
 #yazi{
	 width:auto;
	 height:auto;
	  padding-left:30px;
	  padding-right:30px;
	  padding-top:10px;

	   }
  #kutu {
	  width:150px;
	  height:125px; 
	  float:left;
	  padding:40px;
	  }	

   .topnav{
	   background-image:url(paper-1468878_1920.jpg);
   }

/* When the screen is less than 600 pixels wide, hide all links, except for the first one ("Home"). Show the link that contains should open and close the topnav (.icon) */

  .topnav a:not(:first-child), .dropdown .dropbtn {
    display: none;
  }
  .topnav a.icon {
    float: right;
    display: block;
  }


/* The "responsive" class is added to the topnav with JavaScript when the user clicks on the icon. This class makes the topnav look good on small screens (display the links vertically instead of horizontally) */

  .topnav.responsive {position: relative;}
  .topnav.responsive a.icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
  .topnav.responsive .dropdown {float: none;}
  .topnav.responsive .dropdown-content {position: relative;}
  .topnav.responsive .dropdown .dropbtn {
    display: block;
    width: 100%;
    text-align: left;
  }
}
		
		
		